

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.animation {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.paper-plane {
  position: absolute;
  width: 6.5rem;
  top: 10%;
  left: -5rem;
}

